In [1]:
import pandas
import seaborn

df = pandas.read_csv('../105.csv')

df

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc,DS tuyen tinh,...,Toan roi rac,Tri tue nhan tao,Triet hoc 1,Triet hoc 2,TT Ho Chi Minh,VL Dai cuong 1,VL Dai cuong 2,Visual Basic,Xac suat,Unnamed: 55
0,9.0,9.0,7.0,9.0,8.0,10.0,NaN,9.0,7.0,10.0,...,8.0,9.0,8.0,7.0,NaN,9.0,7.0,10.0,8.0,NaN
1,6.0,8.0,6.0,7.0,8.0,5.0,NaN,8.0,5.0,7.0,...,6.0,8.0,6.0,6.0,NaN,9.0,7.0,5.0,5.0,NaN
2,7.0,8.0,7.0,5.0,7.0,5.0,NaN,7.0,7.0,10.0,...,8.0,5.0,8.0,6.0,NaN,8.0,8.0,10.0,5.0,NaN
3,5.0,6.0,5.0,7.0,3.0,5.0,NaN,5.0,5.0,7.0,...,6.0,5.0,6.0,5.0,NaN,3.0,5.0,6.0,5.0,NaN
4,5.0,8.0,5.0,7.0,6.0,6.0,NaN,6.0,6.0,5.0,...,5.0,5.0,8.0,5.0,NaN,6.0,7.0,6.0,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NaN,6.0,6.0,7.0,6.0,8.0,6.0,8.0,7.0,5.0,...,6.0,8.0,5.0,6.0,6.0,7.0,6.0,5.0,5.0,5.0
95,NaN,5.0,7.0,6.0,8.0,7.0,7.0,7.0,7.0,5.0,...,9.0,5.0,5.0,7.0,5.0,6.0,6.0,5.0,9.0,7.0
96,NaN,7.0,7.0,8.0,8.0,9.0,8.0,8.0,8.0,9.0,...,9.0,9.0,8.0,8.0,8.0,9.0,9.0,9.0,10.0,7.0
97,NaN,7.0,5.0,5.0,6.0,9.0,6.0,6.0,8.0,6.0,...,7.0,5.0,6.0,6.0,5.0,7.0,5.0,7.0,6.0,9.0
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0

In [2]:
# Rời rạc hóa các trường thành 0,1 (0 cho những giá trị điểm >=6, 0 cho những giá trị còn lại)
cut_labels = [0,1]
cut_bins = [0,6,10]

for col in df:
   df[col] = pandas.cut(df[col], labels=cut_labels, bins=cut_bins)
df

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc,DS tuyen tinh,...,Toan roi rac,Tri tue nhan tao,Triet hoc 1,Triet hoc 2,TT Ho Chi Minh,VL Dai cuong 1,VL Dai cuong 2,Visual Basic,Xac suat,Unnamed: 55
0,1,1,1,1,1,1,NaN,1,1,1,...,1,1,1,1,NaN,1,1,1,1,NaN
1,0,1,0,1,1,0,NaN,1,0,1,...,0,1,0,0,NaN,1,1,0,0,NaN
2,1,1,1,0,1,0,NaN,1,1,1,...,1,0,1,0,NaN,1,1,1,0,NaN
3,0,0,0,1,0,0,NaN,0,0,1,...,0,0,0,0,NaN,0,0,0,0,NaN
4,0,1,0,1,0,0,NaN,0,0,0,...,0,0,1,0,NaN,0,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NaN,0,0,1,0,1,0,1,1,0,...,0,1,0,0,0,1,0,0,0,0
95,NaN,0,1,0,1,1,1,1,1,0,...,1,0,0,1,0,0,0,0,1,1
96,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
97,NaN,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [83]:
df.to_csv('105moi.csv')

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc,DS tuyen tinh,...,Toan roi rac,Tri tue nhan tao,Triet hoc 1,Triet hoc 2,TT Ho Chi Minh,VL Dai cuong 1,VL Dai cuong 2,Visual Basic,Xac suat,Unnamed: 55
0,1,1,1,1,1,1,NaN,1,1,1,...,1,1,1,1,NaN,1,1,1,1,NaN
1,1,1,1,1,1,0,NaN,1,0,1,...,1,1,1,1,NaN,1,1,0,0,NaN
2,1,1,1,0,1,0,NaN,1,1,1,...,1,0,1,1,NaN,1,1,1,0,NaN
3,0,1,0,1,0,0,NaN,0,0,1,...,1,0,1,0,NaN,0,0,1,0,NaN
4,0,1,0,1,1,1,NaN,1,1,0,...,0,0,1,0,NaN,1,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NaN,1,1,1,1,1,1,1,1,0,...,1,1,0,1,1,1,1,0,0,0
95,NaN,0,1,1,1,1,1,1,1,0,...,1,0,0,1,0,1,1,0,1,1
96,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
97,NaN,1,0,0,1,1,1,1,1,1,...,1,0,1,1,0,1,0,1,1,1
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1