In [25]:
import pandas
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df = pandas.read_csv('../105OK.csv', usecols=range(10))
df.drop('Unnamed: 0', axis=1, inplace=True)
data = df.copy()
data

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc
0,True,True,True,True,True,True,False,True,True
1,True,True,True,True,True,True,False,True,True
2,True,True,True,True,True,True,False,True,True
3,True,True,True,True,True,True,False,True,True
4,True,True,True,True,True,True,False,True,True
...,...,...,...,...,...,...,...,...,...
94,False,True,True,True,True,True,True,True,True
95,False,True,True,True,True,True,True,True,True
96,False,True,True,True,True,True,True,True,True
97,False,True,True,True,True,True,True,True,True
98,False,False,False,False,False,False,False,False,False

In [26]:
data.isnull().sum()

Access            0
CT du lieu        0
CT may tinh       0
CNXHKH            0
Chuyen de         0
CS du lieu        0
Cong nghe NET     0
CNphan mem        0
Dai so so hoc     0
dtype: int64

In [ ]:
frequent_itemset = apriori(data, min_support=0.5, use_colnames=True)